upstream tangle_api {
    server ${TANGLE_API_UPSTREAM};
}

server {
    listen 80;

    location /api/ {
        proxy_pass http://tangle_api;
        proxy_set_header Host ${TANGLE_API_HOST};
    }
}